@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Components.Stargate;
@inherits PanelComponent

<root>
    <div class="background">
        <div class="gate-list">
            @if (DHD.IsValid())
            {
                @foreach (var gate in GetAvailableGates())
                {
                    var otherAddress = Stargate.GetOtherGateAddressForMenu(DHD.Gate, gate);

                    AddressToGateDict[otherAddress] = gate;

                    var gateType = "Milky Way";
                    if (gate is StargatePegasus)
                    {
                        gateType = "Pegasus";
                    }
                    else if (gate is StargateUniverse)
                    {
                        gateType = "Universe";
                    }

                    var gateAddressClass = $"gate-address_{otherAddress}";

                    var gateTypeFormatted = $"| ({gateType})";
                    var worldNumber = gate.GetMultiWorld().WorldIndex;

                    <div class="gate-item @gateAddressClass">
                        <div class="gate-type">World @worldNumber |</div>
                        <div class="gate-address">@otherAddress</div>
                        <div class="gate-type">@gateTypeFormatted</div>
                    </div>
                }
            }
        </div>
    </div>
</root>

@code {
    List<Stargate> AllGates => Scene.Components.GetAll<Stargate>().ToList();
    Dhd DHD => Components.Get<Dhd>(FindMode.EverythingInSelfAndParent);
    List<Stargate> GetAvailableGates()
    {
        return AllGates.Where(gate => !gate.GatePrivate && gate != DHD.Gate).ToList();
    }

    Dictionary<string, Stargate> AddressToGateDict = new();

    public bool Opening { get; set; } = false;
    Vector2 TargetPanelSize => new Vector2(1600, 900);
    Sandbox.WorldPanel WorldPanel => Components.Get<Sandbox.WorldPanel>(FindMode.EverythingInSelf);

    protected override void OnMouseDown(MousePanelEvent e)
    {
        if (e.Target.IsValid() && e.Target.Class.FirstOrDefault(x => x.StartsWith("gate-address_")) is string addressClass)
        {
            var address = addressClass.Split('_')[1].ToUpperInvariant();
            if (AddressToGateDict.TryGetValue(address, out var gate))
            {
                var guide = DHD.Components.GetOrCreate<DhdDialGuide>();
                guide.DestinationGate = gate;
                guide.Enabled = true;
            }
        }
    }

    protected override void OnEnabled()
    {
        if (WorldPanel.IsValid())
        {
            WorldPanel.PanelSize = new Vector2(0, 10);
        }

        Opening = true;
    }

    protected override void OnUpdate()
    {
        if (Opening && WorldPanel.IsValid() && WorldPanel.PanelSize.x != TargetPanelSize.x)
        {
            WorldPanel.PanelSize = WorldPanel.PanelSize.WithX(MathX.Lerp(WorldPanel.PanelSize.x, TargetPanelSize.x, Time.Delta *
            5f));
        }

        if (Opening && WorldPanel.IsValid() && WorldPanel.PanelSize.x.AlmostEqual(TargetPanelSize.x, 10f) &&
        WorldPanel.PanelSize.y !=
        TargetPanelSize.y)
        {
            WorldPanel.PanelSize = WorldPanel.PanelSize.WithY(MathX.Lerp(WorldPanel.PanelSize.y, TargetPanelSize.y, Time.Delta *
            5f));
        }

        if (WorldPanel.PanelSize == TargetPanelSize)
        {
            Opening = false;
        }
    }

}
