DhdGateList {
    .background {
        height: 100%;
        width: 100%;
        background-color: rgba(63, 63, 63, 0.5);
        backdrop-filter: blur(4px);
        border-radius: 2%;
        pointer-events: all;
    }

    .gate-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .gate-item {
        padding: 6px;
        justify-content: center;
        pointer-events: all;
        width: 100%;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border: 4px solid #00d5ff25;
        }
    }

    .gate-address {
        font-size: 24px;
        font-weight: bold;
        font-family: Stargate Address Glyphs SG1;
        color: #00d0ff;
        pointer-events: none;
    }

    .gate-type {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        pointer-events: none;
    }

}