TeleportScreenoverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    .overlay {
        position: absolute;
        background-color: white;
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        transition: all 0s ease-in;

        &.hidden {
            background-color: rgba(#000, 0);
            transition: all 0.1s ease-in;
        }
    }
}